.blog-index .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 10px;
    align-items: stretch;

}

.blog-index-wrapper{
    max-width:1050px !important;
}

.blog-teaser-image img{
width:100%;
height:250px;
}

.blog-category
{
    color: #cf102d;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    width: 90%;
}

.grid-item a:hover{
    text-decoration: none;
}

.blog-teaser-title
{
    font-size: 15px;

    /* font-stretch: normal; */
    font-weight: 600;
    line-height: 20px;
    color: #101820;

    /* margin-right: 1rem; */
    text-transform: none;
    margin-bottom: 0.50rem;
    margin-top: 0.50rem;
    width: 90%;
}

.blog-teaser-description
{
    color: #101820;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 90%;
}