footer {
  height: 188px;
  padding: 1.2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1050px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  display: flex;
}

img {
  width: 100px;
  height: auto;
}

footer >  p > strong > a {
  color: white;
} 

strong{
  border-color: #101820;
    background-color: #101820;
    color: #fff;
    font-stretch: expanded;
    font-weight: 400;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 10px;
}

strong >a:any-link {
  color: white;
}



footer > div  > div > div:nth-child(1) {
  padding-bottom: 3rem;
  border-bottom: 1px solid #ccc;
  color :grey;
}

footer > div > div > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 1rem;
  margin-top: 25px;
}

footer > div > div > div:nth-child(2) > p > a {
  margin:0 5px; 
  color: grey;
}

@media (max-width: 768px) {
  footer .footer p {
    text-align: center;
  }

  footer > div > div > div:nth-child(1) > p {
    justify-content: space-between;
  }

  footer > div > div > div:nth-child(2) {
    display: flow-root;
  }

  footer > div > div > div:nth-child(2) >p {
    justify-content: center;
  }
}